@import url('https://fonts.googleapis.com/css?family=Courgette|Arima+Madurai:800|Fahkwang|Markazi+Text');

nav ul {
	text-align: right;
	list-style-type: none;
	display: inline;
	font-family: "Arima Madurai", serif;
	
}

nav a {
	color: #989696;
	display: block;
	text-decoration: none;
}

h1 a {
	border: 2px solid #ea9fc1;
	background-image: url("../images/bkg1.png");
	background-size: 300px;
}

nav a:visited{
	text-decoration: none;
}

nav a:hover {
	color: grey;
	text-decoration: underline;
}

.is-current {
	color: black;
	text-shadow: 1px 1px 1px grey;
	background-color: #97cfcc;
}
